<div>
  <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>

  <div style="width:100%;height:600px;overflow:hidden;background:#F0F0F0;" fullHeight>
    <svg width="100%" height="600px" viewBox="0 0 600 600">
      <defs>
        <pattern id="shape_white_striped" patternUnits="userSpaceOnUse" width="13.5" height="13.5"
          patternTransform="rotate(45)">
          <line x1="0" y="0" x2="0" y2="100" stroke="
                    #f0f0f0" stroke-width="100" opacity="1" />

          <line x1="0" y="0" x2="0" y2="13.5" stroke="
                    #333" stroke-width="15" opacity="0.08" />
        </pattern>
        <pattern id="shape_white" patternUnits="userSpaceOnUse" width="1" height="1" patternTransform="rotate(45)">
          <line x1="0" y="0" x2="0" y2="1" stroke="
                    #f0f0f0" stroke-width="10" opacity="1" />
        </pattern>
        <pattern id="shape_blue" patternUnits="userSpaceOnUse" width="1" height="1" patternTransform="rotate(45)">
          <line x1="0" y="0" x2="0" y2="1" stroke="
                    #32acff" stroke-width="10" opacity="1" />
        </pattern>
        <pattern id="shape_red" patternUnits="userSpaceOnUse" width="10" height="10" patternTransform="rotate(45)">
          <line x1="8" y="8" x2="8" y2="8" stroke="
                    #b04020" stroke-width="12" opacity="1" />

          <line x1="0" y="0" x2="10" y2="10" stroke="
                    #b04020" stroke-width="20" opacity="0.9" />
        </pattern>
        <pattern id="shape_green" patternUnits="userSpaceOnUse" width="1" height="1" patternTransform="rotate(45)">
          <line x1="0" y="0" x2="10" y2="10" stroke="
                    #28a745" stroke-width="10" opacity="1" />
        </pattern>
        <pattern id="shape_orange" patternUnits="userSpaceOnUse" width="9.5" height="9.5"
          patternTransform="rotate(120)">
          <line x1="0" y="0" x2="0" y2="13.5" stroke="
                    #f09000" stroke-width="50" opacity="0.85" />

          <line x1="0" y="0" x2="0" y2="6.5" stroke="
                    #fab000" stroke-width="10" opacity="0.95" />

          <line x1="0" y="0" x2="0" y2="4.5" stroke="
                    #f09000" stroke-width="30" opacity="0.95" />
        </pattern>
        <pattern id="shape_black" patternUnits="userSpaceOnUse" width="9.5" height="9.5" patternTransform="rotate(120)">
          <line x1="0" y="0" x2="0" y2="13.5" stroke="
                    #333" stroke-width="50" opacity="0.85" />
        </pattern>
      </defs>
      <g />
    </svg>
  </div>
</div>
