<nz-table #virtualTable [nsAutoHeightTable]="39" [nzData]="functions" [nzVirtualItemSize]="1" [nzFrontPagination]="false" [nzShowPagination]="false" nzSize="small">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of virtualTable.data; let index = index;">
            <tr>
                <td [nzExpand]="expandSet.has(item.name)" (nzExpandChange)="onExpandChange(item.name, $event)"></td>
                <td>{{item.name}}</td>
            </tr>
            <tr *ngIf="expandSet.has(item.name)">
                <td colspan="2">
                    <lib-utask-editor class="editor" [ngModel]="codes[index]" ngDefaultControl [ngModelOptions]="{standalone: true}" [config]="{ language: 'json', readOnly: true }">
                    </lib-utask-editor>
                </td>
            </tr>
        </ng-container>
    </tbody>
</nz-table>