export const environment = {
  production: true,
  apiBaseUrl: '<%= PREFIX_API_BASE_URL %>',
  localStorage: '<%= PREFIX_LOCALSTORAGE %>',
  sentry: '<%= SENTRY_DSN %>',
  refresh: {
    home: {
      tasks: 15000,
      task: 1000,
    },
    task: 5000
  }
};
