<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{title}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{question}}
        <error-message [data]="error" *ngIf="error && !loading"></error-message>
    </div>
    <footer class="modal-footer">
        <button type="button" class="btn btn-success" (click)="submit();" [disabled]="loading">
            {{yes}}
        </button>
    </footer>
</div>