<div>
  <utask-loader *ngIf="(loaders.task || loaders.resolution) && !task && !errors.main"></utask-loader>
  <utask-error-message [data]="errors.main" *ngIf="errors.main"></utask-error-message>

  <div class="main" *ngIf="((!loaders.task && !loaders.resolution) || task) && !errors.main">
    <header class="clear-after">
      <div class="title">
        <h1>
          <span class="bloc_status task_state_{{task.state}}">{{task.state}}</span>
          {{task.title}}
          <small *ngIf="task?.tags?._utask_parent_task_id">
            <a [routerLink]="'/task/'+task.tags._utask_parent_task_id">
              Parent task <strong>{{task.tags._utask_parent_task_id}}</strong>
            </a>
          </small>
        </h1>
        <div *ngIf="task.tags">
          <ng-template ngFor let-tagKey [ngForOf]="objectKeys(task.tags)">
            <span class="badge badge-primary">
              {{tagKey}}=<strong>{{task.tags[tagKey]}}</strong>
            </span>
            &nbsp;
          </ng-template>
        </div>
      </div>
      <div class="actions">
        <div class="btn-group" role="group">
          <button type="button" mat-raised-button
            (click)="autorefresh.actif = !autorefresh.actif;autorefresh.hasChanged = true;"
            [disabled]="!autorefresh.enable">
            <input type="checkbox" [(ngModel)]="autorefresh.actif" readonly="readonly" />
            &nbsp;Autorefresh (5s)
          </button>
          <button mat-raised-button (click)="loadTask();" title="Refresh tasks"
            [disabled]="loaders.task || loaders.resolution">
            <i class="fas fa-sync" ng-class="{'fa-spin': loaders.tasks}"></i>
            Refresh
          </button>
        </div>
      </div>
    </header>
    <section>
      <div style="padding: 0 18px 27px 18px">
        <app-box [header]="{openable: true, init: display.result, class: 'primary', openOnClick: true}"
          *ngIf="task.result && task.resolution">
          <div app-box-header>
            Result
          </div>
          <div app-box-content>
            <utask-editor [value]="JSON.stringify(task.result, null, 2)" [config]="editorConfigResult"></utask-editor>
          </div>
        </app-box>

        <app-box [header]="{openable: true, init: display.request, class: 'primary', openOnClick: true}">
          <div app-box-header>
            Request -
            <small>{{task.id}}</small>
            <div class="app-box_dropdown">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-primary" title="View as code"
                  (click)="previewTask(); $event.stopPropagation();">
                  <i class="fas fa-file-code"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" title="Edit the task"
                  (click)="editRequest(task); $event.stopPropagation();">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" title="Delete the task"
                  (click)="deleteTask(task.id); $event.stopPropagation();">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>

          </div>
          <div app-box-content>
            <h3 *ngIf="task.input">Inputs</h3>
            <table class="table table-responsive table-striped table-condensed" *ngIf="task.input">
              <tbody>
                <tr *ngFor="let inputKey of objectKeys(task.input)">
                  <td>{{inputKey}}</td>
                  <td>
                    <strong>{{task.input[inputKey] | json}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <small>Created from the template '<a [routerLink]="'/template/'+task.template_name"
                title="Template {{task.template_name}}" *ngIf="meta.user_is_admin">
                <strong>{{task.template_name}}</strong>
              </a><strong *ngIf="!meta.user_is_admin">{{task.template_name}}</strong>'
              by {{task.requester_username}} <abbr
                title="{{task.created | date : 'yyyy/MM/dd HH:mm'}}"><em>{{task.created | utaskFromNow}}</em></abbr>
              <span *ngIf="task.created != task.last_activity || task.requester_username != task.resolver_username"> and
                updated by {{task.resolver_username}} <abbr
                  title="{{task.last_activity | date : 'yyyy/MM/dd HH:mm'}}"><em>{{task.last_activity | utaskFromNow}}</em></abbr></span>
            </small>
          </div>
        </app-box>

        <app-box [header]="{openable: true, init: display.execution, class: 'primary', openOnClick: true}"
          *ngIf="resolution && resolution.steps">
          <div app-box-header>
            Execution -
            <small>{{resolution.id}}</small> -
            <small class="bloc_status resolution_state_{{resolution.state}}">{{resolution.state}}</small>

            <span *ngIf="loaders.execution || loaders.task">&nbsp;<i class="fas fa-spinner fa-spin"></i></span>
            <div class="btn-group app-box_dropdown" ngbDropdown (click)="$event.stopPropagation();">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-primary" title="Run" (click)="runResolution(resolution);">
                  <i class="fas fa-play"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" title="Cancel"
                  (click)="cancelResolution(resolution);">
                  <i class="fas fa-ban"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" ngbDropdownToggle>
                  More
                </button>
              </div>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button type="button" ngbDropdownItem (click)="previewResolution();">View
                  as
                  code</button>
                <button type="button" ngbDropdownItem (click)="pauseResolution(resolution);">Pause</button>
                <button type="button" ngbDropdownItem (click)="extendResolution(resolution);">Extend</button>
                <button type="button" ngbDropdownItem (click)="editResolution(resolution);">Edit</button>
              </div>
            </div>
          </div>
          <div app-box-content>
            <div class="row">
              <div class="col-4">
                <h3>Steps</h3>
                <div *ngIf="resolution.steps">
                  <utask-steps-list [resolution]="resolution" [selectedStep]="selectedStep">
                  </utask-steps-list>
                </div>

              </div>
              <div class="col-8 steps-viewer">
                <utask-steps-viewer [resolution]="resolution" (select)="selectStepFromViewer($event)">
                </utask-steps-viewer>
              </div>
            </div>
            <p>Execution instance #{{resolution.instance_id}} resolved by {{resolution.resolver_username}}.</p>
            <div class="row">
              <span class="col-3">Last start</span>
              <strong class="col-9">{{resolution.last_start | date: 'yyyy/MM/dd HH:mm'}}</strong>

              <span class="col-3">Last stop</span>
              <strong class="col-9">{{resolution.last_stop | date: 'yyyy/MM/dd HH:mm'}}</strong>

              <span class="col-3">Run count</span>
              <strong class="col-9">{{resolution.run_count}} / {{resolution.run_max}}</strong>
            </div>
          </div>
        </app-box>


        <div class="row" *ngIf="taskIsResolvable">
          <div class="col-md-6">
            <app-box [header]="{openable: true, init: display.resolution, class: 'success', openOnClick: true}">
              <div app-box-header>
                Resolve this task
              </div>
              <div app-box-content>
                <form novalidate #myForm="ngForm" (ngSubmit)="resolveTask()">
                  <div *ngFor="let input of template.resolver_inputs">

                    <!-- INPUT TYPE TEXT(regex) / NUMBER / PASSWORD / TEXTAREA-->
                    <div class="form-group" *ngIf="!input.legal_values && input.type!='bool' && !input.collection"
                      [ngClass]="{'input__required': !input.optional}">
                      <label for="input_{{input.name}}">
                        {{input.description || input.name}}
                        <i class="fas fa-question-circle" *ngIf="input.regex" title="{{input.regex}}"></i>
                        <button type="button" class="btn btn-secondary" *ngIf="input.type!='number'"
                          title="{{textarea[input.name] ? 'Click to disable multi line' : 'Click to enable multi line'}}"
                          (click)="textarea[input.name] = !textarea[input.name]">
                          <span *ngIf="textarea[input.name]">
                            <i class="fas fa-ban"
                              style="color: Tomato;position: absolute;margin-left: -3px;font-size: 21px;"></i>
                          </span>
                          <span>
                            <i class="fas fa-align-justify fa-1x"></i></span>
                        </button>
                      </label>

                      <input type="number" [(ngModel)]="item.resolver_inputs[input.name]" *ngIf="input.type=='number'"
                        [required]="!input.optional" name="input_{{input.name}}" id="input_{{input.name}}"
                        placeholder="{{input.default}}" class="form-control"
                        [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}">

                      <input type="password" [(ngModel)]="item.resolver_inputs[input.name]"
                        *ngIf="input.type=='password' && !textarea[input.name]" [required]="!input.optional"
                        name="input_{{input.name}}" id="input_{{input.name}}" class="form-control"
                        [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}">

                      <input type="text" [(ngModel)]="item.resolver_inputs[input.name]"
                        *ngIf="input.type!='number' && input.type!='password' && !textarea[input.name]"
                        [required]="!input.optional" name="input_{{input.name}}" [pattern]="input.regex"
                        id="input_{{input.name}}" class="form-control"
                        [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}">

                      <textarea [(ngModel)]="item.resolver_inputs[input.name]"
                        *ngIf="input.type!='number' && textarea[input.name]" [required]="!input.optional"
                        name="input_{{input.name}}" [pattern]="input.regex" id="input_{{input.name}}"
                        class="form-control"
                        [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}"></textarea>
                    </div>

                    <div *ngIf="input.legal_values && input.collection" class="form-group">
                      <label for="input_{{input.name}}">
                        {{input.description || input.name}}
                      </label>

                      <tag-input name="input_{{input.name}}" id="input_{{input.name}}"
                        [(ngModel)]='item.resolver_inputs[input.name]' [modelAsStrings]="true"
                        [onlyFromAutocomplete]="true" [required]="!input.optional" [secondaryPlaceholder]="'Items'"
                        [placeholder]="'Add'">
                        <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="input.legal_values">
                        </tag-input-dropdown>
                      </tag-input>
                    </div>

                    <div *ngIf="!input.legal_values && input.collection" class="form-group">
                      <label for="input_{{input.name}}">
                        {{input.description || input.name}}
                      </label>

                      <tag-input name="input_{{input.name}}" id="input_{{input.name}}"
                        [(ngModel)]='item.resolver_inputs[input.name]' [modelAsStrings]="true"
                        [required]="!input.optional" [secondaryPlaceholder]="'Items'" [placeholder]="'Add'">
                      </tag-input>
                    </div>

                    <div *ngIf="input.legal_values && !input.collection" class="form-group">
                      <label for="input_{{input.name}}">
                        {{input.description || input.name}}
                      </label>

                      <select name="input_{{input.name}}" id="input_{{input.name}}" class="form-control"
                        [(ngModel)]='item.resolver_inputs[input.name]' [required]="!input.optional">
                        <option></option>
                        <option *ngFor="let option of input.legal_values" value="{{option}}">{{option}}</option>
                      </select>
                    </div>

                    <div *ngIf="input.type=='bool'" class="form-group">
                      <label for="input_{{input.name}}">
                        {{input.description || input.name}}
                      </label>

                      <input type="checkbox" name="input_{{input.name}}" id="input_{{input.name}}"
                        [(ngModel)]='item.resolver_inputs[input.name]' />
                    </div>
                  </div>

                  <utask-error-message [data]="errors.resolveTask" *ngIf="errors.resolveTask"></utask-error-message>

                  <button type="submit" class="btn btn-success"
                    [disabled]="myForm.invalid || loaders.resolveTask">Resolve</button>
                </form>
              </div>
            </app-box>
          </div>

          <div class="col-md-6">

            <app-box [header]="{openable: true, init: display.resolution, class: 'danger', openOnClick: true}">
              <div app-box-header>
                Reject this task
              </div>
              <div app-box-content>
                <form novalidate #rejectForm="ngForm" (ngSubmit)="rejectTask()">

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="confirmReject" id="confirmReject"
                      [(ngModel)]='confirm.reject' required />

                    <label class="form-check-label" for="confirmReject">
                      Are you sure you want to reject this request ?
                    </label>
                  </div>

                  <utask-error-message [data]="errors.rejectTask" *ngIf="errors.rejectTask"></utask-error-message>

                  <button type="submit" class="btn btn-danger"
                    [disabled]="rejectForm.invalid || loaders.rejectTask">Reject</button>
                </form>
              </div>
            </app-box>

          </div>
        </div>

        <app-box [header]="{openable: true, init: false, class: 'primary', openOnClick: true}"
          *ngIf="haveAtLeastOneChilTask">
          <div app-box-header>
            Sub Tasks
          </div>
          <div app-box-content>
            <utask-tasks-list [meta]="meta" [params]="{
            page_size: 10,
            type: meta.user_is_admin ? 'all' : 'own',
            tag: '_utask_parent_task_id=' + taskId
          }" (event)="eventUtask($event)">
            </utask-tasks-list>
          </div>
        </app-box>

        <app-box [header]="{openable: true, init: display.comments, class: 'primary', openOnClick: true}">
          <div app-box-header>
            Comments - <span class="badge"
              [ngClass]="{'badge-warning': task.comments.length > 0, 'badge-secondary': !task.comments || task.comments.length === 0}">{{task.comments.length}}</span>
            <span *ngIf="loaders.task || loaders.addComment">&nbsp;<i class="fas fa-spinner fa-spin"></i></span>
          </div>
          <div app-box-content>
            <ul class="utask_comments" *ngIf="task.comments && task.comments.length">
              <li class="utask_comment" *ngFor="let comment of task.comments">
                <p>{{comment.content}}</p>
                <small><em>{{comment.username}}</em>, {{comment.created | utaskFromNow}}</small>
              </li>
            </ul>
            <div *ngIf="!task.comments || task.comments.length === 0">
              No comments
            </div>

            <hr />
            <form novalidate #myCommentForm="ngForm" (ngSubmit)="addComment()">
              <div class="form-group input__required">
                <label for="comment">
                  Comment
                </label>
                <textarea name="comment" id="comment" class="form-control" [(ngModel)]="comment.content"></textarea>
              </div>

              <utask-error-message [data]="errors.addComment" *ngIf="errors.addComment"></utask-error-message>

              <button type="submit" mat-raised-button color="primary"
                [disabled]="myCommentForm.invalid || loaders.addComment">Add
                comment</button>

            </form>
          </div>
        </app-box>
      </div>

    </section>
  </div>
</div>