<div>
  <div class="main" *ngIf="!loaders.templates && !errors.templates">
    <header>
      <h1>New task</h1>
    </header>
    <section>

      <form novalidate #myForm="ngForm" (ngSubmit)="submit()">
        <!-- <ul>
              <li *ngFor="let inputName of Object.keys(myForm.form.controls)">{{inputName}} : {{myForm.form.controls[inputName]?.invalid}} {{myForm.form.controls[inputName]?.touched}}
              </li>
            </ul> -->
        <div class="form-group">
          <label for="input_templates">Templates</label>
          <select class="form-control" id="input_templates" [autofocus]="true" name="input_templates" required
            [(ngModel)]="selectedTemplate" (change)="newTask(selectedTemplate);saveFormInQueryParams()">
            <option *ngIf="!selectedTemplate">-- Template --</option>
            <ng-template ngFor let-template [ngForOf]="templates">
              <option *ngIf="!template.blocked" [ngValue]="template">{{template.description}}</option>
            </ng-template>

          </select>
        </div>

        <div *ngIf="selectedTemplate && (selectedTemplate.doc_link || selectedTemplate.long_description)"
          class="highlight">
          <div *ngIf="selectedTemplate.doc_link">
            <a href="{{selectedTemplate.doc_link}}" target="_blank">
              {{selectedTemplate.doc_link}}
            </a>
          </div>
          <p style="white-space: pre-line;">{{selectedTemplate.long_description}}</p>
        </div>

        <div *ngIf="selectedTemplate">
          <div *ngFor="let input of selectedTemplate.inputs">

            <!-- INPUT TYPE TEXT(regex) / NUMBER / PASSWORD / TEXTAREA-->
            <div class="form-group" *ngIf="!input.legal_values && input.type!='bool' && !input.collection"
              [ngClass]="{'input__required': !input.optional}">
              <label for="input_{{input.name}}">
                {{input.description || input.name}}
                <i class="fas fa-question-circle" *ngIf="input.regex" title="{{input.regex}}"></i>
              </label>

              <input type="number" [(ngModel)]="item.input[input.name]" (change)="saveFormInQueryParams()"
                *ngIf="input.type=='number'" [required]="!input.optional" name="input_{{input.name}}"
                id="input_{{input.name}}" placeholder="{{input.default}}" class="form-control"
                [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}">

              <input type="password" [(ngModel)]="item.input[input.name]" *ngIf="input.type=='password'"
                [required]="!input.optional" name="input_{{input.name}}" id="input_{{input.name}}" class="form-control"
                [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}">

              <input type="text" [(ngModel)]="item.input[input.name]" (change)="saveFormInQueryParams()"
                *ngIf="input.type!='number' && input.type!='password'" [required]="!input.optional"
                name="input_{{input.name}}" [pattern]="input.regex" id="input_{{input.name}}" class="form-control"
                [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}">
            </div>

            <!-- <label for="input_{{input.name}}">
                    {{input.description || input.name}}
                    <i class="fas fa-question-circle" *ngIf="input.regex" title="{{input.regex}}"></i>
                  </label>
      
                  <input type="number" [(ngModel)]="item.input[input.name]" *ngIf="input.type=='number'"
                    [required]="!input.optional" name="input_{{input.name}}" id="input_{{input.name}}"
                    placeholder="{{input.default}}" class="form-control"
                    [ngClass]="{'is-invalid': myForm.form.controls['input_'+input.name]?.invalid && myForm.form.controls['input_'+input.name]?.touched}"> -->

            <div *ngIf="input.legal_values && input.collection" class="form-group"
              [ngClass]="{'input__required': !input.optional}">
              <label for="input_{{input.name}}">
                {{input.description || input.name}}
              </label>

              <tag-input name="input_{{input.name}}" id="input_{{input.name}}" [(ngModel)]='item.input[input.name]'
                [modelAsStrings]="true" [onlyFromAutocomplete]="true" [required]="!input.optional"
                [secondaryPlaceholder]="'Items'" [placeholder]="'Add'" (onBlur)="saveFormInQueryParams()">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="input.legal_values">
                </tag-input-dropdown>
              </tag-input>
            </div>

            <div *ngIf="!input.legal_values && input.collection" class="form-group"
              [ngClass]="{'input__required': !input.optional}">
              <label for="input_{{input.name}}">
                {{input.description || input.name}}
              </label>

              <tag-input name="input_{{input.name}}" id="input_{{input.name}}" [(ngModel)]='item.input[input.name]'
                [modelAsStrings]="true" [required]="!input.optional" [secondaryPlaceholder]="'Items'"
                [placeholder]="'Add'" (onBlur)="saveFormInQueryParams()">
              </tag-input>
            </div>

            <div *ngIf="input.legal_values && !input.collection" class="form-group"
              [ngClass]="{'input__required': !input.optional}">
              <label for="input_{{input.name}}">
                {{input.description || input.name}}
              </label>

              <select name="input_{{input.name}}" id="input_{{input.name}}" class="form-control"
                [(ngModel)]='item.input[input.name]' [required]="!input.optional" (change)="saveFormInQueryParams()">
                <option></option>
                <option *ngFor="let option of input.legal_values" value="{{option}}">{{option}}</option>
              </select>
            </div>

            <div *ngIf="input.type=='bool'" class="form-group">
              <input type="checkbox" name="input_{{input.name}}" id="input_{{input.name}}"
                [(ngModel)]='item.input[input.name]' (change)="saveFormInQueryParams()" style="float: left;margin-top: 5px;width: 30px;"/>
              <label for="input_{{input.name}}" style="float: right;width: calc(100% - 30px);">
                {{input.description || input.name}}
              </label>
              <br clear="all"/>
            </div>
          </div>
        </div>


        <div *ngIf="!display.addWatchers">
          <button type="button" class="btn btn-link"
            (click)="display.addWatchers = !display.addWatchers;$event.stopPropagation();">
            <small>Add watchers</small>
          </button>
        </div>

        <div class="form-group" *ngIf="display.addWatchers">
          <label for="input_watcher_usernames">Watcher usernames</label>

          <tag-input id="input_watcher_usernames" name="input_watcher_usernames" [(ngModel)]='item.watcher_usernames'
            [modelAsStrings]="true" [secondaryPlaceholder]="'Usernames'" [placeholder]="'Add username'">
          </tag-input>
        </div>

        <utask-error-message [data]="errors.submit" *ngIf="errors.submit"></utask-error-message>

        <button type="submit" class="btn btn-success float-right" [disabled]="myForm.invalid">Submit</button>
      </form>
    </section>
  </div>

  <utask-loader *ngIf="loaders.templates"></utask-loader>

  <utask-error-message [data]="errors.templates" *ngIf="errors.templates"></utask-error-message>
</div>